Road To AI -BenNasrallah
--------
*&copy;  MLSA : Achraf Jday & Abhishek Jaiswal.*

## Phase 1: data structures

The objective of this task is to become familiar with the data structures used for data manipulations and to implement the measures seen during the workshops: mean, median, quartiles, correlations.

<font size="+1" color="RED">**[Q]**</font> **Indicate in the box below your name :**

Ahmed Ben Nasrallah

<font color="RED" size="+1">**[Q]**</font> **Rename this file ipython**

At the very top of this page, click on <tt>RoadToAI_1</tt> and add after <tt>RoadToAI_1</tt> your name.

For example, for the binomial Luke Skywalker and Han Solo, the file name becomes: <pre>RoadToAI_1-Skywalker-Solo</pre>.

Remember to save the file frequently while working :
- either by clicking on the "floppy disk" icon
- or by the key combination [Ctrl]-S

<font color="RED" size="+1">IMPORTANT : submission of your final file</font>

**Name to be given to the file to be posted** : *Name1_Name2.ipynb* 
- *Name1* and *Name2*: names of the members of the pair
- don't compress or make an archive: you have to render the ipython file as it is.

The file is to be pushed to the repo as shown during the workshop.

## Presentation ##

### Objectives of this phase

The work to be done is as follows:
- learn how to use jupyter notebook (cf doc: <https://jupyter.org/>).
- to learn about the data structures that will be used to program throughout the sessions: numpy and pandas.
- implement first functions that will be useful.

## Learn how to use jupyter notebook

This document is dynamic: it is composed of "boxes" which can be "compiled" by using the "Run Cells" command in the "Cell" menu (either by clicking on the >| icon or by using the [SHIFT][ENTER] key combination).

There are **2 main types** of boxes :
- the "Markdown" boxes: everything typed in these boxes is text that will be rendered "nicely" after being compiled. It is possible to write Latex commands to define equations, and it recognizes some HTML tags. By double-clicking in a compiled Markdown box, one can access its contents and then modify it.
- the "Code" boxes: in these boxes, we write Python code. The compilation of the box produces the execution of this Python code and produces an "Out" box in which the result of the last command is displayed. Any valid Python code can be written in this box. This type of box can be recognized by the "In [n]" written next to its top left corner ("n" is an integer).

The type of a box can be changed using the menu at the top of the page (just above the text).

The "+" icon creates a new box just below the active box.

The icon with the scissors erases the active box (attention ! it is **irreversible !**).

To know more about it :
- http://ipython.org/

You can also refer to the Python documentation:
- https://www.python.org/


In what follows, the Markdown boxes beginning with <font color="RED" size="+1">**[Q]**</font> ask questions that must be answered in the box that follows directly (possibly by creating new "Code" or "Markdown" type boxes, at your convenience).
Some of the "Code" boxes to be filled in are followed by an output "Out[.]:" which shows an example of an expected result. 

Feel free to create new "Code" or "Markdown" boxes in this document if you need them.

In [1]:
# sample code box :
# --> select this box (by clicking inside)
# --> Run Cells from the "Cell" Menu (or click on the icon >|)
# 

print("A test :")
2+3

A test :

5

In [2]:
import sys
print("Version Python: ", sys.version)

Version Python:  3.7.6 (default, Jan  8 2020, 20:23:39) [MSC v.1916 64 bit (AMD64)]

<font color="RED" size="+1">**[Q]**</font> In the following "Code" box, give the Python instructions to perform the calculation : 
$$-\frac{1}{3}\log_2(\frac{1}{3})-\frac{2}{3}\log_2(\frac{2}{3})$$

Whose value to find is :
    0.9182958340544896

In [3]:
import math as m
x=-1/3*(m.log2(1/3))-(2/3)*m.log2(2/3)
print(x)

0.9182958340544896

**<font style="BACKGROUND-COLOR: lightgray" color='red'> Important</font>** :
when reading the text of a jupyter file on your computer, remember to execute the "Code" boxes in the order they appear. The whole page behaves as a single Python session and to execute some boxes it is necessary that the previous ones have been executed beforehand.

<font color="RED" size="+1">**[Q]**</font> In the next "Code" box, write the function <tt>calculation</tt> which, given a real $x$ of [0,1] makes the value of the calculation $$-x\log_2(x)-(1-x)\log_2(1-x)$$ if $x\not= 0$ and $x \not= 1$ or the value $0.0$ otherwise.

In [4]:
def calculation(x):
    if x>0 and x<1:
        r=-x*m.log2(x)-(1-x)*m.log2(1-x)
    else:
        r=0.0
    return(r)

In [5]:
calculation(0)

0.0

In [6]:
calculation(1/3)

0.9182958340544896

In [7]:
calculation(0.5)

1.0

## Documentation


At first, you have to take in hand the **numpy**, **pandas** and **matplotlib** libraries:

- Numpy = <http://scipy.github.io/old-wiki/pages/Tentative_NumPy_Tutorial>
  or <https://realpython.com/numpy-tutorial/>
- Pandas = http://pandas.pydata.org/pandas-docs/stable/10min.html
- Matplotlib = https://matplotlib.org/1.3.1/users/pyplot_tutorial.html

Read these pages and practice these tutorials to become familiar with these tools.

<font color="RED" size="+1">**[Q]**</font> Give in the following box the main characteristics of each of these 3 libraries: What are they used for? What do they allow to represent ? What is their usefulness and their specificities? etc.

Numpy is used for linear algebra and arrays. It can be used to represent matrix structures and apply mathematical and logical operations on them.  


Pandas is used to analyze data with python. It represents data frames that you can use while handling economics data.

Matplotlib is a data visualization library used to represent graphs

To use the 3 previous libraries, you must first import them into Jupyter using the commands given in the following box.

If a library is not installed, an error may occur when importing it. It is then necessary to install it. For example, for the pandas library :
- in a terminal, execute the command:
    
        pip install --user -U  pandas

- once the library is installed, it is necessary to restart the Jupyter Python kernel:
    in the Jupyter menu at the top of the page, choose "<tt>Kernel -> restart</tt>".

In [8]:
import numpy as np
import pandas as pd
from datetime import datetime as dt
import matplotlib.pyplot as plt
%matplotlib inline

## Programming and experimentation ##

The dataset that will be used in this session to validate your functions corresponds to data concerning prices in different states of North America. 


The reference of this dataset is available here : <https://github.com/amitkaps/weed/blob/master/1-Acquire.ipynb>

This data is also provided in the file <tt>data-01.zip</tt> to be downloaded from the Moodle site.

It consists of three files:
* <tt>"data-01/Weed_Price.csv"</tt>: price per date and per condition (for three different qualities)
* <tt>"data-01/Demographics_State.csv"</tt>: demographic information on each state
* <tt>"data-01/Population_State.csv"</tt>: population of each state

The first step is to download these files into pandas dataframes.

As they are <a files href="https://fr.wikipedia.org/wiki/Comma-separated_values"><tt>CSV</tt></a>, we use the Pandas library which contains a function to read such file types.

In [10]:
# Loading data files :

prices_pd = pd.read_csv("data-01/Weed_Price.csv", parse_dates=[-1])
demography_pd = pd.read_csv("data-01/Demographics_State.csv")
population_pd = pd.read_csv("data-01/Population_State.csv")

<font color="RED" size="+1">**[Q]**</font> **Dataframes**
Start by looking at the documentation of the <tt>read_csv</tt> function of the Pandas library. What does this function render (what is the type of what is rendered)?

This function renders a Dataframe

<font color="RED" size="+1">**[Q]**</font> **Dataframes**

Pandas dataframes allow to store together data whose values can be different. This can be similar to an Excel sheet: each row corresponds to the same data (an "example") and contains in each column values that can be of different types.

Examine the type of the three variables that have just been defined. To do this, use the Python function <tt>type</tt>: for example <tt>type(prices_pd)</tt>.

In [11]:
# type of prices_pd:
type(prices_pd)

pandas.core.frame.DataFrame

In [12]:
# type of demography_pd
type(demography_pd)

pandas.core.frame.DataFrame

In [13]:
# type of population_pd
type(population_pd)

pandas.core.frame.DataFrame

**Important**: each time you use a command, look at the type of the result obtained (list, DataFrame, Series, array,...) it will allow you to know what you can apply on this result.

<font color="RED" size="+1">**[Q]**</font> **Learn more about the data...**

* Begin by getting familiar with the data by viewing it and displaying examples of the rows or columns that these DataFrames contain. To do this, manipulate the functions of the libraries you have just discovered (for example, <tt>head()</tt>, <tt>tail()</tt>, ...).

In [14]:
# 15 first lines of prices_pd
prices_pd.head(15)

,State,HighQ,HighQN,MedQ,MedQN,LowQ,LowQN,date
0,Alabama,339.06,1042,198.64,933,149.49,123,2014-01-01
1,Alaska,288.75,252,260.60,297,388.58,26,2014-01-01
2,Arizona,303.31,1941,209.35,1625,189.45,222,2014-01-01
3,Arkansas,361.85,576,185.62,544,125.87,112,2014-01-01
4,California,248.78,12096,193.56,12812,192.92,778,2014-01-01
5,Colorado,236.31,2161,195.29,1728,213.50,128,2014-01-01
6,Connecticut,347.90,1294,273.97,1316,257.36,91,2014-01-01
7,Delaware,373.18,347,226.25,273,199.88,34,2014-01-01
8,District of Columbia,352.26,433,295.67,349,213.72,39,2014-01-01
9,Florida,306.43,6506,220.03,5237,158.26,514,2014-01-01
10,Georgia,332.21,3099,213.52,2269,153.45,229,2014-01-01
11,Hawaii,310.96,328,270.38,350,160.46,25,2014-01-01
12,Idaho,276.05,315,254.96,445,132.61,20,2014-01-01
13,Illinois,359.74,4008,287.23,3644,181.25,329,2014-01-01
14,Indiana,336.80,1665,206.24,1446,154.05,248,2014-01-01

In [15]:
# 7 last lines of prices_pd
prices_pd.tail(7)

               State   HighQ  HighQN    MedQ  MedQN  LowQ  LowQN       date
22892           Utah  290.42     959  238.08   1055   NaN     62 2014-12-31
22893        Vermont  371.23     357  308.86    367   NaN     32 2014-12-31
22894       Virginia  364.98    3513  293.12   3079   NaN    284 2014-12-31
22895     Washington  233.05    3337  189.92   3562   NaN    160 2014-12-31
22896  West Virginia  359.35     551  224.03    545   NaN     60 2014-12-31
22897      Wisconsin  350.52    2244  272.71   2221   NaN    167 2014-12-31
22898        Wyoming  322.27     131  351.86    197   NaN     12 2014-12-31

Data types can be retrieved through the <tt>dtypes</tt> method:

In [16]:
prices_pd.dtypes

State             object
HighQ            float64
HighQN             int64
MedQ             float64
MedQN              int64
LowQ             float64
LowQN              int64
date      datetime64[ns]
dtype: object

There are a lot of features to discover to get useful information about DataFrames. For example, the list of states can be obtained this way:

In [17]:
les_etats = np.unique(prices_pd["State"].values)

In [24]:
# Show the list of states :
print(les_etats)
print(len(prices_pd["MedQ"].values))
print(len(np.unique(prices_pd["MedQ"].values) ))

['Alabama' 'Alaska' 'Arizona' 'Arkansas' 'California' 'Colorado'
 'Connecticut' 'Delaware' 'District of Columbia' 'Florida' 'Georgia'
 'Hawaii' 'Idaho' 'Illinois' 'Indiana' 'Iowa' 'Kansas' 'Kentucky'
 'Louisiana' 'Maine' 'Maryland' 'Massachusetts' 'Michigan' 'Minnesota'
 'Mississippi' 'Missouri' 'Montana' 'Nebraska' 'Nevada' 'New Hampshire'
 'New Jersey' 'New Mexico' 'New York' 'North Carolina' 'North Dakota'
 'Ohio' 'Oklahoma' 'Oregon' 'Pennsylvania' 'Rhode Island' 'South Carolina'
 'South Dakota' 'Tennessee' 'Texas' 'Utah' 'Vermont' 'Virginia'
 'Washington' 'West Virginia' 'Wisconsin' 'Wyoming']
22899
7776

Compare the number of values of :

        prices_pd["MedQ"].values)>len(

and 

        np.unique(prices_pd["MedQ"].values))
        
len(prices_pd["MedQ"].values)>len(np.unique(prices_pd["MedQ"].values))

Explain what's going on.

In [ ]:
np.unique removes the extra copies of a repeated value

## Implementation of classical measurements ##

We will now write the functions allowing to calculate "basic" measurements on one-dimensional data. For this, we will work with the <tt>array</tt> structure of numpy. To convert a column of DataFrame to '<tt>array</tt>, here is how to do:

### Average

<font color="RED" size="+1">**[Q]**</font> **The average**


Write the function average(values) that calculates the average of the elements of an array (using the ''for'' loop, or Sum and Len, without using the functions already implemented in numpy).

In [35]:
def average(values):
    v=0
    for value in (values):
        v+=value
    avg=v/len(values)
    return(avg)

Test the average function and compare your results with the python base implementation given below:

In [36]:
print("The average (MedQ) with my function is : %f dollars" % average(prices_pd["MedQ"]))
print("The average (MedQ) with numpy's mean is : %f dollars" % prices_pd["MedQ"].mean())

The average (MedQ) with my function is : 247.618306 dollars
The average (MedQ) with numpy's mean is : 247.618306 dollars

<font color="RED" size="+1">**[Q]**</font> **Averages on qualities**

Calculate:
* The average price for medium and high qualities
* The average price for medium and high grades in the state of New York.

Calculations will be done on one hand using your function, and on the other hand using python functions.

In [65]:
print("The average (HighQ and MedQ ) with my function is : %f dollars" % (average(prices_pd["HighQ"])/2 + average(prices_pd["MedQ"])/2))
print("The average (HighQ and MedQ) in New York with my function is : %f dollars" % (average(prices_pd.loc[prices_pd['State']=="New York"]["HighQ"] )/2+ average(prices_pd.loc[prices_pd['State']=="New York"]["MedQ"])/2 ))

The average (HighQ and MedQ ) with my function is : 288.689080 dollars
The average (HighQ and MedQ) in New York with my function is : 306.144855 dollars

<font color="RED" size="+1">**[Q]**</font> **Average over states**

Calculate the average price of medium and high qualities in all states -- the list of states is obtained as follows states=np.unique(prices_pd["State"].values)

You can (must) do this in two ways:
* Make a loop on each of the states
* Use the groupby function as explained here: http://pandas.pydata.org/pandas-docs/stable/groupby.html
 and here: https://www.kaggle.com/crawford/python-groupby-tutorial

<font color="RED" size="+1">**[Q]**</font> **Other averages**

Calculate the average (with both functions) on the price of the low quality. What do you find? Explain...

<font color="RED" size="+1">**[Q]**</font> **Data modification**

Replace the <tt>NAN</tt> in the <tt>LowQ</tt> column using the function described here: http://pandas.pydata.org/pandas-docs/version/0.17.1/generated/pandas.DataFrame.fillna.html. 

In particular, we want to use the <tt>fill</tt> method after sorting by state and date using the <tt>fill</tt> function: 

            prices_sorted = prices_pd.sort_values(by=['State', 'date'], inplace=False)

Explain the result of this command.

<font color="RED" size="+1">**[Q]**</font> **Changes in results**


Recalculate the average price for quality <tt>Low</tt>. What happens now?

<font color="RED" size="+1">**[Q]**</font> **Histogram plotting**

Give Python instructions to plot the histogram of price averages (<tt>LowQ</tt>) by state. 

To help you build a histogram, you can study the next page:
<http://matplotlib.org/examples/lines_bars_and_markers/barh_demo.html

<font color="RED" size="+1">**[Q]**</font> **Density estimation**

We will now look at the calculation of the number of states concerned by a price range. For this purpose:
* Calculate the table of average prices as follows

In [ ]:
average_price=prices_pd[["State","LowQ"]].groupby(["State"]).mean()
print(average_price)
print("===========")
average_price=average_price.values.ravel()
print(average_price)

<font color="RED" size="+1">**[Q]**</font> **Variation bounds**

* Calculate the min and max values of the average prices

<font color="RED" size="+1">**[Q]**</font> **Calculation of a workforce**

Take a discretization interval of size 20, and calculate the number of states per bins (as a vector). Draw the corresponding histogram

<font color="RED" size="+1">**[Q]**</font> **Change of scale**

Now take an interval of size 40.

This can be done in the following way with Pandas:

In [ ]:
effectif=pd.cut(average_price,20)
effectif2=pd.value_counts(effectif)
effectif3=effectif2.reindex(effectif.categories)
effectif3.plot(kind='bar')

And like that with Numpy:

In [ ]:
plt.hist(average_price,bins=20)

The estimation of density in pandas can be done as follows

In [ ]:
effectif=pd.DataFrame(average_price)
effectif.plot(kind='kde')

### Cumulative density

<font color="RED" size="+1">**[Q]**</font> **Calculation of the cumulative density**


Calculate the cumulative density from the average prices, with a given discretization interval and represent it graphically. 

The method must render two tables: the absciss $X$ (the possible average prices between min and max prices), and the associated density

<font color="RED" size="+1">**[Q]**</font> **Quartiles**

Write the function Q(alpha,x,y) which allows to find the quartile(alpha,x,y).
- quartile(0.5,x,densite) will correspond to the median. 

Compute and graphically represent the boxplot.

Remark: a boxplot in pandas is made like this:
        
    a=pd.DataFrame(average_price)
    a.boxplot()

### Variance

<font color="RED" size="+1">**[Q]**</font> **Calculation of variance**

We now want to add a column <tt>HighQ_var</tt> to the original data containing the price variance by state. Give the corresponding Python intructions.

**WARNING**, this supposes to process the states one after the other .

# Synthesis work: California

Pandas allows you to synthesize data in the following way (for the DataFrame with the name <tt>df</tt>): 
    
    df.describe()
    

<font color="RED" size="+1">**[Q]**</font> Check that the values found on the state of California match the values found through your various functions. 

To do this, give in the following the code that uses your functions (means, variance, and quartiles) as well as the result of the function <tt>describe</tt>.

<font color="RED" size="+1">**[Q]**</font> **Correlation Matrix**


We will now focus on calculating the correlation between prices in New York and prices in California.

Start by representing the price point cloud (by date) in California ($X$ axis) and New York ($Y$ axis) for the good quality.

To do this, start by creating a DataFrame with this information:

In [ ]:
price_ny=prices_pd[prices_pd['State']=='New York']
price_ca=prices_pd[prices_pd['State']=='California']
price_ca_ny=price_ca.merge(price_ny,on='date')
price_ca_ny.head()

# Run this box and comment on the result obtained

<font color="RED" size="+1">**[Q]**</font> **Spot clouds*


Graphically represent the cloud of points: see <http://matplotlib.org/examples/shapes_and_collections/scatter_demo.html>

<font color="RED" size="+1">**[Q]**</font> **Correlations**

Using the previously written mean function, write a function <tt>correlation(x,y)</tt> which calculates the linear correlation between two Numpy tables.

In [ ]:
# Apply your function with the following instruction:

# print("The correlation is :%f"%correlation(price_ca_ny["HighQ_x"].values,price_ca_ny["HighQ_y"].values))

<font color="RED" size="+1">**[Q]**</font> **Correlation matrix**

Calculate the correlation matrix for all combinations of states.

<font color="RED" size="+1">**[Q]**</font> **Other correlations...**


Calculate the correlations between price (<tt>low</tt> and <tt>high</tt>) based on the average income per available state in the table <tt>demography_pd</tt> loaded at the beginning of this Jupyter sheet. 

What can we conclude from this?